.container{
  padding-top: 10px;
}
.input-group .input-group-text {
  border-right: none;
}

.form-control {
  border-left: none;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: rgb(230, 236, 236);
}

.col-md-4{
  padding-top: 80px;
}
button{
  padding: 12px 28px;
  font-size: 16px;
  color: #fff;
  background-color: #00a884;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


button:hover {
  background-color: #008f6e;
  transform: scale(1.05);
}

.is-invalid {
  border-color: red;
}
