.container{
    align-items: center;
    padding: 150px;
    padding-left: 250px;
    padding-right: 250px;
    }

 
  
.card-container {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Center cards horizontally */
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    padding: 1rem;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
    color: #333;
  }
  
  .card-address, .card-phone {
    font-size: 1rem;
    color: #666;
    margin: 0.5rem 0;
  }
  
  .card-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 1rem;
  }
  