/* Ensure html and body take the full height */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.navbar{
  background-color: #026b53;
}
.navbar .nav-link {
  font-weight: bold;
  color: #f5f2f2; 
}
.navbar-brand{
  font-weight: bold;
  color: #f5f2f2; 
}
.navbar .nav-link:hover {
  color: #ffcc00; /* Change this to your hover color */
}
  .dropdown-menu {
    display: none; /* Hide dropdown by default */
  }
  
  .dropdown-menu.show {
    display: block; /* Show dropdown when .show class is added */
  }
  .nav-item{
    font-family: "Archivo Black", sans-serif;
    font-weight: lighter;
    font-style: normal;
    margin-left: 20px;
  }
  .btn{
    margin-left: 20px;
  }
  /* Wrapper that contains the main content */
.content-wrapper {
  flex: 1; /* This makes the main content grow and take up available space */
}

/* Footer styling */
.custom-footer {
  background-color: #026b53;/* Change this to your desired background color */
  color: white; /* Change this to your desired text color */
  font-weight: bold;
  padding: 20px 0;
}
